@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
body {
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f5f5f5;
  z-index: 10;
}

.header .nav-items {
  background-color: #f5f5f5;
  text-align: left;
  background-color: #555;
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
}

.nav-items ul {
  list-style: none;
  padding: 10px;
  display: flex;
  gap: 1rem;
}

.nav-items li {
  display: inline;
  margin: 3px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  float: left;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* Hero Image Styles */
.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1511537190424-bbbab87ac5eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-image h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.hero-image p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.hero-image button {
  background-color: #e5d8c6;
  color: #5a4540;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

/* Products Section Styles */
.products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.product i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.product-title {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.product-description {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.btn-primary {
  background-color: #e5d8c6;
  color: #5a4540;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

/* Reviews Section Styles */
.row {
  height: 20vh;
  background-color: #f5f5f5;
  padding: auto;
  padding: 40px 0;
}

.reviews h2 {
  font-family: sans-serif;
  font-size: 30px;
  color: #534848;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.col {
  text-align: center;
  background-color: #e3dcdc;
  border: #000;
  float: left;
  width: 33%;
  display: flex;
  justify-content: center;
  height: 30vh;
}

main {
  background-color: #f8f4f4;
}

/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3dcdc;
  padding: 40px 80px;
}

.footer .copy {
  color: #72615b;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #72615b;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #72615b;
  padding: 10px 20px;
}

div.form {
  padding: 40px 80px;
  font-family: sans-serif;
  font-size: 25px;
  color: #534848;
  text-transform: uppercase;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
